@model EmployeeManagementSystem.Models.Employee

<h2>Edit Employee</h2>

<form asp-action="Edit" method="post">

    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label>Name</label>
        <input asp-for="Name"
               class="form-control" />
    </div>

    <div class="mb-3">
        <label>Department</label>
        <input asp-for="Department"
               class="form-control" />
    </div>

    <div class="mb-3">
        <label>Salary</label>
        <input asp-for="Salary"
               class="form-control" />
    </div>

    <button type="submit"
            class="btn btn-primary">
        Update
    </button>

</form>